.{
    background-color: #f75a6f rgba(247,90,111,1);
    background-color: #f77283 rgba(247,114,131,1);
    background-color: #f59fab rgba(245,159,171,1);
    background-color: #3c1e14 rgba(60,30,20,1);
    background-color: #dfdcdc rgba(223,220,220,1);
    background-color: #f29a2c rgba(242,154,44,1);
  }
  